@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Spartan&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #d8e3e7;
    color: #132c33;
}

h1, h2, h3 {
    color: #132c33;
    text-align: center;
}

#greetings {
    color: white;
}

main {
    padding: 10px;
    overflow: auto; 
    min-height: 80%;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
    max-width: 80%;
    margin: auto;
    margin-bottom: 20px;

}
#dashboard {
    text-align: left;
    font-size: 16px;
    
}
#dashboard h4{
    font-size: 20px;
}

footer {
    padding: 15px;
    color: white;
    background-color:#03a0c4;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: bold;
}

nav a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover, .active {
    font-weight: bold;
    color: #51c4d3;
}

.profile header {
    text-align: center;
}

.profile p {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.profile img {
    width: 150px;
}

.featured-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    object-position: center;
}

.card {
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(185 185 185 / 50%);
    -webkit-box-shadow: 0 2px 4px 0 rgb(185 185 185 / 50%);
    margin-top: 24px;


   
}
.login {
    max-width: 35%;
    border-radius: 5px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(185 185 185 / 50%);
    -webkit-box-shadow: 0 2px 4px 0 rgb(185 185 185 / 50%);
    margin: auto;
    margin-top: 50px;
   justify-content: center;
}

#loginTitle {
    margin-top: 5%;
}

.card .section {
    margin-top: 20px;
}

button {
    background-color: #0ead63;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #03a0c4;
    text-align: center;
    color: white;
}

#sekolah {
    text-align: center;
}

nav {
    background-color: #03a0c4;
    padding: 16px;
    text-align: center;
    position: sticky;
    z-index: 99;
    top: 0;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

aside img {
    border-radius: 50%;
}

.row {
    display:flexbox;
    flex-wrap:wrap;
    /* margin-left: 10%;
    margin-right: 10%; */
  
    justify-content: center;
    margin-bottom: 20px;
    
   
  }
  .row-line{
      margin-right: 10px;

    text-align: center;
  }
  

header {
    display: inline;
}

.container {
    display: flex;
    margin: auto;
}

.container p {
    font-size: 16px;
    padding-left: 18px;
    line-height: 30px;
}

.container img {
    object-position: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #f1f6f8;
  
}

th, td {
    text-align: left;
    padding: 15px;
    border: 1px solid #f1f6f8;

}
.alamat {
    width: 40%;
}

.btn {
    padding: 0.5rem 0.81rem;
    font-weight: 600;
    border-radius: 0.25rem;
    font-size: 13px;
}

.batal{
    color:#777777;
    padding: 5px;
}

.menu {
    align-items: center;
    text-align: center;
    text-align: -webkit-center;
}

#detail {
    color: #fff;
    background-color: #0a043c;
    border-color: #0a043c;
}

#ubah {
    color: #fff;
    background-color: #464dee;
    border-color: #464dee;
}

#hapus {
    color: #fff;
    background-color: #ee5b5b;
    border-color: #ee5b5b;
    text-align: center;
}

#simpan {
    color: #fff;
    background-color: #601fc9;
    border-color: #601fc9;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #777777;
    color: white;
    text-align: center;
}

/* form tambah */

form {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
}

.form-login {
    margin-bottom: 2rem;
    width: 50%;
    display: flex;
}

label {
    padding: 12px;
    display: inline-block;
    width: 300px;
    /* text-align: center; */
}



.form-input {
    position:relative;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    width: 100%
} 


input[type=text], input[type=number],input[type=password],select, textarea{
    padding: 12px;
    margin-right: 10px;
    margin-top: 0;
    float: right;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
  }
.form-detail {
    padding: 12px;
    display: inline-block;
    width: 300px;
}
.col-input {
    width: 100%;
}
@media screen and (max-width: 1000px) {
    #content, aside, .container {
        width: 100%;
        padding: 0;
    }
    .container {
        display: block;
        margin: 0;
        padding-top: 10px;
    }
    .featured-image {
        max-width: 50%;
        max-height: 300px;
    }
    .container p {
        padding: 0;
    }
    .card section {
        margin-top: 50px;
    }
}

#shots {
    text-align: center;
    max-width: 80%;
    object-position: center;
    margin: auto;
    padding: auto;
}